.boxShadow {
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
}

.link {
  text-decoration: none;
}

.title {
  font-family: var(--font-one);
  font-size: var(--size-one);
  line-height: var(--font-one-line-height);
  color: var(--color-font-one);
  font-weight: var(--font-one-weight);
  margin: 0;
  padding: 48px 0;
}
