.buttons__container {
  margin: 4.37rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button,
.button__active {
  font-family: var(--font-two);
  font-size: var(--font-three-size);
  line-height: var(--font-three-line-height);
  width: 6.125rem;
  border-radius: 0.125rem;
  font-weight: 500;
  background-color: var(--main-bg-color);
}

.button {
  color: var(--color-font-three);
  border: 1.5px solid #d6d6d6;
}

.button__active {
  color: #1797ff;
  border: 1.5px solid #1797ff;
  border-right: #d6d6d6;
}
