@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto:wght@400;500&display=swap");

:root {
  --font-one: "Libre Baskerville", serif;
  --font-one-weight: 400;
  --color-font-one: #3b3b3b;
  --size-one: 28px;
  --font-one-line-height: 28px;

  --font-two: "Roboto", sans-serif;
  --color-font-two: #767676;
  /* regular 400*/
  --size-two: 14px;
  --size-three: 11px;

  --color-font-three: #606060;

  /* medium 500*/
  --font-three-size: 16px;
  --font-three-line-height: 28px;

  --main-bg-color: #fcfcfc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  /* background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%); */
}

.container {
  width: 80%;
  margin: 0 auto;
}

.button {
  color: var(--color-font-three);
  border: 1.5px solid #d6d6d6;
  font-family: var(--font-two);
  font-size: var(--font-three-size);
  line-height: var(--font-three-line-height);
  width: 6.125rem;
  border-radius: 0.125rem;
  font-weight: 500;
  background-color: var(--main-bg-color);
  text-decoration: none;
  text-align: center;
}

.button__active {
  color: #1797ff;
  border: 1.5px solid #1797ff;
  font-family: var(--font-two);
  font-size: var(--font-three-size);
  line-height: var(--font-three-line-height);
  width: 6.125rem;
  border-radius: 0.125rem;
  font-weight: 500;
  background-color: var(--main-bg-color);
  text-decoration: none;
  text-align: center;
}

.center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}
